<div id="ww">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3 centered">
        <h3>Contact Me</h3>
        <hr>
        <p>
          If you wish to contact me, do not hesitate to poke me <a href="https://twitter.com/Barbatos__" title="Barbatos on Twitter">on Twitter</a> or to fill in the form below:
        </p>
      </div>
    </div>
    <div class="row mt">  
      <div class="col-lg-8 col-lg-offset-2">
        <form role="form" method="post" action="/contact">
          <div class="form-group">
            <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name"><br />
          </div>
          <div class="form-group">
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email"><br />
          </div>
          <textarea class="form-control" rows="6" name="message" id="message" placeholder="Enter your text here"></textarea><br />
            
          <button type="submit" class="btn btn-success">SUBMIT</button>
        </form>         
      </div>
    </div>
  </div>
</div>