<div class="slider">
	<div class="container-fluid">
		<div id="heroSlider">
			<div>
			  <div class="active item">
				<div class="hero-unit">
				  <div class="row-fluid">
					<div class="span6">
					  <h2>Welcome to my place!</h2>
					  <p>
						I am a 20 years old student in Computer Science. You can find on this website the projects on which I have been involved, my blog, information about me and more!<br /><br />
						If you have any question, please <a href="/contact/">contact me</a>.
					  </p>
					  <h3>
						<a href="/about/" class="btn">More about me</a>
					  </h3>                      
					</div>
					<div class="span6">
						<div id="myCarousel" class="carousel slide">
		                <div class="carousel-inner">
		                  <div class="item active">
		                    <img src="/img/urt-big.jpg" alt="">
		                    <div class="carousel-caption">
		                      <h4><a href="/projects/urban-terror/">Urban Terror</a></h4>
		                      <p>Urban Terror is a free First Person Shooter game written in C.</p>
		                    </div>
		                  </div>
		                  <div class="item">
		                    <img src="/img/photoshdr-big.jpg" alt="">
		                    <div class="carousel-caption">
		                      <h4><a href="/projects/photos-hdr/">Photos-HDR</a></h4>
		                      <p>Photos-HDR is a website made to view, share, rate and buy High Definition pictures.</p>
		                    </div>
		                  </div>
		                  <div class="item">
		                    <img src="/img/formulaworld-big.png" alt="">
		                    <div class="carousel-caption">
		                      <h4><a href="/projects/formula-world/">Formula World</a></h4>
		                      <p>Formula World is a free F1 Manager game developed in PHP.</p>
		                    </div>
		                  </div>
		                   <div class="item">
		                    <img src="/img/livresduzero-big.png" alt="">
		                    <div class="carousel-caption">
		                      <h4><a href="/projects/livres-du-zero/">Livres du Zéro</a></h4>
		                      <p>I corrected two books for the french company "Simple IT".</p>
		                    </div>
		                  </div>
		                  <div class="item">
		                    <img src="/img/webmail-gralon-big.jpg" alt="">
		                    <div class="carousel-caption">
		                      <h4><a href="/projects/webmail-gralon/">Webmail Gralon</a></h4>
		                      <p>A webmail that I developed for the website gralon.net</p>
		                    </div>
		                  </div>
		                  <div class="item">
		                    <img src="/img/urtfrance-big.jpg" alt="">
		                    <div class="carousel-caption">
		                      <h4><a href="/projects/urban-terror-france/">UrT France</a></h4>
		                      <p>I am part of the Administration Council of the Urban Terror France Association and I am responsible of the development of the website.</p>
		                    </div>
		                  </div>
		                  <div class="item">
		                    <img src="/img/urtupdater-big.jpg" alt="">
		                    <div class="carousel-caption">
		                      <h4><a href="/projects/urban-terror-updater/">UrT Updater</a></h4>
		                      <p>UrT Updater is an updater for the game Urban Terror, written in C++ with the Qt library.</p>
		                    </div>
		                  </div>
		                   <div class="item">
		                    <img src="/img/zcorrecteurs-big.jpg" alt="">
		                    <div class="carousel-caption">
		                      <h4><a href="/projects/zcorrecteurs/">zCorrecteurs.fr</a></h4>
		                      <p>I've been a developer of this website for about a year.</p>
		                    </div>
		                  </div>
		                </div>
		                <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
		                <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
		              </div>
					</div>
				  </div>                  
				</div>
			</div>
		</div>
	</div>
</div>
