<div id="ww">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 centered">
        <a href="https://twitter.com/Barbatos__" class="circle" title="Twitter account of Charles Duprey">
          <img height="96" width="96" src="/images/barbatos.png" alt="Charles Duprey (@Barbatos__">
        </a>

        <h1>Welcome aboard!</h1>

        <p>Hello there! My name is Charles Duprey - also known as Barbatos. I am a 22 years old student in Computer Science and a Software Developer at <a href="https://www.thalesgroup.com" title="Thales" target="_blank">Thales</a>.</p>
        
        <p>You will find on this website the projects on which I am or have been involved, my blog as well as information <a href="/about" title="About me">about me</a>. If you want to get in touch, feel free to <a href="/contact" title="Contact me!">contact me</a>.</p>

      </div>
    </div>
  </div>
</div>
