<div class="container">
	<div class="page-header">
	  <h1>About me</h1>
	</div>
	<div class="row-fluid">
		<div class="span7 offset1">
			<p>Hey! I am a 20 years old second-year student in Computer Science at the University Institute of Technology in Caen (France).</p>
			<p>I discovered programming at the age of 12 with the PHP language. I'm prominent mostly in C and PHP but I'm often working 
				(or playing) with other languages like C++, Java, Python, NodeJS and Ruby.
			</p>
			<p>I like working with Frameworks like CakePHP, Symfony2, Ruby on Rails, Django, Twitter Bootstrap and Qt.</p>
			<p>You can find out the projects on which I have been involved <a href="/projects/" title="My projects">here</a>.</p>
			<p>Do not hesitate to <a href="/contact/" title="Contact me!">contact me</a> if you have any question or if you want to 
				hire me for a project. :)</p>
			<p>
				<a href="http://up.barbatos.fr/cv.pdf" title="My CV" class="btn"><i class="icon-file"></i>&nbsp;&nbsp;My CV (French)</a>&nbsp;&nbsp;&nbsp;
				<a href="http://up.barbatos.fr/cv_en.pdf" title="My CV" class="btn"><i class="icon-file"></i>&nbsp;&nbsp;My CV (English)</a>
			</p>
		</div>
		<div class="span3 offset1">
			<img src="/img/derpy_muffins.png" title="Muffins!" alt="Muffins!" />
		</div>
	</div>
</div>
