<!DOCTYPE html>

<!-- 
	Howdy :-)
-->

<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Developer and student in Computer Science. This is my personal website.">
		<meta name="author" content="Charles 'Barbatos' Duprey">
		<title>Barbatos - Developer and student in Computer Science</title>

		<%= stylesheet_link_tag :all %>
		<%= csrf_meta_tag %>

	</head>
	<body>
		<header>
			<div class="navbar navbar-fixed-top">
				<div class="navbar-inner">
					<div class="container">
						<a href="/" class="brand brand-bootbus">Charles Duprey (Barbatos)</a>
						<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
			              <span class="icon-bar"></span>
			              <span class="icon-bar"></span>
			              <span class="icon-bar"></span>
			            </button>
						<div class="nav-collapse collapse">        
							<ul class="nav pull-right">
								<li class="active"><a href="/">Home</a></li>
								<li><a href="/projects/">Projects</a></li>
								<li><a href="/about/">About</a></li>
								<li><a href="/contact/">Contact</a></li>
								<li class="divider-vertical"></li>
								<li><a href="https://github.com/Barbatos" target="_blank"><i class="icon-github"></i></a></li>
								<li><a href="https://twitter.com/Barbatos__" target="_blank"><i class="icon-twitter"></i></a></li>
								<li><a href="http://www.linkedin.com/in/charlesduprey" target="_blank"><i class="icon-linkedin"></i></a></li>
								<li><a href="mailto:barbatos@f1m.fr"><i class="icon-envelope"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>  
		</header>
		<div class="content">

		<%= yield %>

		</div>
	</div>
	<footer>
	  <div class="container">
		<div class="row">
		  <div class="span2">
			<h4><i class="icon-star icon-white"></i> Projects</h4>
			<nav>
			  <ul class="quick-links">
				<li><a href="/urbanterror.php">Urban Terror</a></li>
				<li><a href="/photoshdr.php">Photos-HDR</a></li>
				<li><a href="/webmail-gralon.php">Webmail Gralon</a></li>
				<li><a href="/formulaworld.php">Formula World</a></li>
			  </ul>
			</nav>
		  </div>
		  <div class="span2">
			<h4><i class="icon-star icon-white"></i> Projects</h4>
			<nav>
			  <ul class="quick-links">
				<li><a href="/urtupdater.php">UrT Updater</a></li>
				<li><a href="/zcorrecteurs.php">zCorrecteurs.fr</a></li>
				<li><a href="/urtfrance.php">UrT France</a></li>
				<li><a href="/livresduzero.php">Livres du Zéro</a></li>
			  </ul>
			</nav>
		  </div>
		  <div class="span2">
			<h4><i class="icon-beaker icon-white"></i> Me</h4>
			<nav>
			  <ul class="quick-links">
				<li><a>Blog</a></li>
				<li><a href="/about.php">About</a></li>
				<li><a href="/contact.php">Contact</a></li>
			  <ul>
			</nav>          
		  </div>
		  <div class="span3">
			<h4><i class="icon-user icon-white"></i> Get in touch</h4>
			<div class="social-icons-row">
			  <a href="https://twitter.com/Barbatos__" target="_blank"><i class="icon-twitter"></i></a>
			  <a href="https://www.facebook.com/charles.duprey" target="_blank"><i class="icon-facebook"></i></a>
			  <a href="http://www.linkedin.com/in/charlesduprey" target="_blank"><i class="icon-linkedin"></i></a>                               
			</div>
			<div class="social-icons-row">            
			  <a href="https://github.com/Barbatos" target="_blank"><i class="icon-github"></i></a>
			  <a href="mailto:barbatos@f1m.fr"><i class="icon-envelope"></i></a>        
			</div>
		  </div>      
		</div>
	  </div>
	  <hr class="footer-divider">
	  <div class="container">
		<p>
		  &copy; 2014&nbsp;&nbsp;Charles "<i>Barbatos</i>" Duprey
		</p>
	  </div>
	</footer>

	<%= javascript_include_tag :defaults %>
  </body>
</html>
